/* Header Formating */
#div1 {
    background-color: chartreuse;
}

#cu_hdr_container {
    display:flex;
    background-color:yellow;
    margin: 0;
    border: 0;
    padding: 0;
    position:fixed;
    top: 0;
    column-count: 3; 
    justify-content: space-between; 
    gap: 10em 10em;
}

#cu_hdr_container > div {
    display: flex;
    color: red;
    background-color: blueviolet;
}


#cu_hdr_nav_list {
    display: flex;
    list-style-type: none;
    align-items: center;
    column-gap: 1em;
}

#cu_hdr_nav_list li {
    border: 1em;
    margin: 1em: 
}

#cu_hdr_nav_list --1 {
    color: white;
}

/*   Body  Elements   */
#div2 {
    height: 20px;
    background-color: goldenrod;
}
