/* Header Formating */

nav {
    margin: 1em;
} 

#cu_hdr_container {
    display:flex;
    top: 0;
    left: 0;
    column-count: 3; 
    justify-content: space-between center;
    align-items: center;
    text-align: center;
    color: #196bc9;
}

#cu_hdr_container  h2 {
    text-align: center;
}

#cu_hdr_nav_list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between; 
    gap: 1em 1em;
}

#cu_hdr_nav_list li {
    border: 20px;
    margin: 20px: 
}

/*
#cu_hdr_nav_list :1 {
    color: white;
    background-color: darkgray;
}
*/
/*   Body  Elements   */
#div2 {
    height: 2600px;
    background-color: goldenrod;
}
